*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;                        /* all numbers Poppins with default of sans-serif*/
    font-weight: normal;                                       /* set font boldness to normal */
    color: rgb(238, 232, 232)
}

body {
    padding: 0;                                                                              /* remove all padding*/
    margin: 0;                                                                               /* remove all margin*/
    background: linear-gradient(to right, rgb(177, 178, 189), rgb(165, 168, 149))        /* color of background is a gradient*/
}

.calculator-grid {                                               /* For the grid that wraps the entire calculator...*/
    display: grid;                                                     /* set display as grid */
    justify-content: center;                                           /* set the content in the middle */
    align-content: center;                                             /* set the items in the middle */
    min-height: 100vh;                                                 /* set height to fill 100% of the view port */
    grid-template-columns: repeat(4, 100px);                           /* inside the grid, we want to have 4 columns which are 100px wide */
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);          /* for the rows, we want to have something that can accomodate larger numbers, so minmax 120px and auto to expand and repeat 5x the value of 100px to make the buttons square*/
}

.calculator-grid > button {                                       /* for button styling...*/
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(75, 76, 96);
    outline: none;  
}

.span-two {                                                        /* for the ac and equal buttons that have x2 width */
    grid-column: span 2
}


/*// Button styling //*/

.numerical-button {                                               
    background-color: rgba(75, 76, 96);
}

.numerical-button:hover {
    background-color: rgba(71, 72, 91);
}

.basic-operation-key {
    background-color: rgba(94, 95, 112);                          
}

.basic-operation-key:hover {
    background-color: rgba(89, 90, 107); 
}

.delete-key {
    background-color: rgba(94, 95, 112); 
}

.delete-key:hover {
    background-color: rgba(89, 90, 107); 
}

.all-clear-key {
    background-color: rgba(105, 106, 122); 
}

.all-clear-key:hover {
    background-color: rgb(100, 100, 114); 
}

.equals-key {
    background-color: rgb(133, 146, 58);
}

.equals-key:hover {
    background-color: rgb(125, 138, 56);
}

.output {                                                          /* For the output window...*/
    grid-column: 1 / -1;                                           /* make the grid column go from the beginning to the end with 1 / -1 */
    background-color: rgb(247, 247, 247);
}

.current-operand-color {
    color: rgba(75, 76, 96);
}

.previous-operand-color {
    color: rgb(150, 151, 158);
}